rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'; }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if request.auth != null;
      allow update: if isSignedIn() && request.auth.uid == userId;
      allow delete: if isAdmin();
    }

    match /courses/{courseId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /payments/{paymentId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if isSignedIn() && (request.auth.uid == resource.data.userId || isAdmin());
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
